
.navbar-nav{
    
    border-radius: 2%;
    background-color: #f2f2f4; ;

 }
 #navi{
    color: #1E69B8;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
 }
 #nav{
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: rgb(105, 150, 189);
 }
 #navi:hover{
color: black;
text-decoration: underline;
 }

#every{
    margin-left: 10%;
    margin-right: 10%;
 }
#vehi{
    
padding-left: 140px;

} 
#line{
    margin-left: 300px;
    width: 50px;
    height:1px;
    background-color:  blue;
    margin-top: 30px;
} 
#veh{
font-size: 20px;
font-style: normal;
font-weight: lighter;

}
#ve{
    /* margin-top: 50px; */
padding-left: 50px;
font-size: 18px;

}
#v{
   margin-left: 270px;
   margin-top: 20px;
   padding: 10px;
}
#lin{
    width: 50px;height:1px;background-color:  blue;
    margin-left: 700px;
}
#p{
    margin: 10px;

}
#line{
    margin-left: 0px;
}
hr{
    background-color: #1E69B8;
    font-weight: 100;
    width: 8%;
    color:#1E69B8;
    height: 2px;
}
#j
{
    width: 100%;
}
#k{
    font-size: 20px;

}
#l{
    font-size: 20px;
    font-style: italic;
    margin-top: 20px;
}
img:hover{
    transform: scale(1.10);
}
#navi:hover{
    transform: scale(1.05);
   }

   button:hover{
    transform: scale(1.05);
   }